body {
  margin: 0;
  padding: 0;
  background-color: #f5f6fa; }

html {
  box-sizing: border-box; }

*,
*:after,
*:before {
  box-sizing: inherit; }

/* header */
.nav {
  padding: 10px 10%;
  background-color: #f5f6fa; }

/* login form */
section {
  background-image: url("../images/hands-medium.jpg");
  height: 85vh;
  width: 100%;
  padding-top: 35px;
  background-size: cover;
  background-position: bottom right; }
  section .login-form {
    background-color: white;
    padding: 25px;
    height: auto;
    max-width: 430px;
    margin: 0 auto; }
    section .login-form h2 {
      font-family: 'source-sans-pro', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
      font-weight: 50;
      margin-top: -10px;
      color: #bbb; }
    section .login-form h3 {
      font-size: 13px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 100;
      color: #555;
      margin-top: 0;
      margin-bottom: 28px; }
    section .login-form form span {
      color: red;
      font-size: 15px; }
    section .login-form form input + label {
      color: #777;
      font-size: 11px;
      font-family: Arial, Helvetica, sans-serif;
      padding-left: 7px; }
    section .login-form form input,
    section .login-form form label {
      margin-left: 0; }
    section .login-form form input {
      margin-bottom: 10px;
      border-width: 1px; }
    section .login-form form .danger {
      border-color: red; }
    section .login-form form .focus {
      box-shadow: 1px 1px #bbbbbb;
      background-color: #fae9ff; }
    section .login-form form .username input,
    section .login-form form .password input {
      display: block;
      width: 100%;
      height: 33px;
      margin-bottom: 0; }
    section .login-form form .password label {
      margin-top: 10px; }
    section .login-form form .username label,
    section .login-form form .password label {
      display: block;
      font-size: 11px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 100;
      color: #777;
      margin-bottom: 5px; }
    section .login-form form .forgot-password {
      text-align: right;
      margin: 0;
      font-size: 13px;
      font-family: Arial, Helvetica, sans-serif;
      margin-bottom: 12px;
      margin-top: 2px;
      color: #027fad; }
      section .login-form form .forgot-password:hover {
        color: red; }
    section .login-form form .username-warning,
    section .login-form form .password-warning {
      margin: 0;
      padding: 0;
      color: red;
      font-size: 12px;
      display: none; }
    section .login-form form hr {
      opacity: 0.5; }
    section .login-form form .rememberMe {
      margin-top: 1rem; }
    section .login-form form .visible {
      display: block; }
    section .login-form form .btn-block {
      padding: 13px;
      padding-left: 0; }
      section .login-form form .btn-block .btn {
        font-weight: 900;
        padding: 10px 15px;
        /* margin-top: 13px; */
        border-radius: 20px;
        border: none;
        outline: none;
        color: white;
        background-color: #027fad; }

/* footer */
footer {
  background-color: #f5f6fa;
  padding-left: 3%; }
  footer ul {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px;
    padding-left: 0;
    padding-bottom: 0px; }
    footer ul li {
      list-style-type: none;
      display: inline-block;
      margin: 0;
      margin-top: -10px;
      padding-left: 5%;
      font-size: large;
      font-family: Arial, Helvetica, sans-serif;
      color: #027fad; }
      footer ul li:hover {
        color: orange; }

p {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 5%;
  padding-bottom: 10px;
  font-size: small;
  color: #777; }

p span {
  padding-right: 10px;
  color: #777;
  font-size: 14px; }

span + span {
  padding-left: 10px;
  color: #027fad; }

@media screen and (max-width: 600px) {
  ul {
    margin-left: 0;
    padding-left: 0; }
    ul li {
      display: block;
      padding-bottom: 20px;
      font-size: 15px; }
      ul li:last-child {
        padding-bottom: 0; }
  p {
    margin-top: 8px; } }
