// variables
$primary-color: #f5f6fa;
$text--grey-color: #777;
$button-color: rgb(2, 127, 173);

@import 'styles/init';

/* header */
@import 'styles/nav';

/* login form */
@import 'styles/section';

/* footer */
@import 'styles/footer';

p {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 5%;
  padding-bottom: 10px;
  font-size: small;
  color: $text--grey-color;
}
p span {
  padding-right: 10px;
  color: $text--grey-color;
  font-size: 14px;
}
span + span {
  padding-left: 10px;
  color: $button-color;
}
@media screen and (max-width: 600px) {
  ul {
    margin-left: 0;
    padding-left: 0;

    li {
      display: block;
      padding-bottom: 20px;
      font-size: 15px;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
  p {
    margin-top: 8px;
  }
}
