// variables
$primary-color: #f5f6fa;
$text--grey-color: #777;
$button-color: rgb(2, 127, 173);

footer {
  background-color: $primary-color;
  padding-left: 3%;

  ul {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px;
    padding-left: 0;
    padding-bottom: 0px;

    li {
      list-style-type: none;
      display: inline-block;
      margin: 0;
      margin-top: -10px;
      padding-left: 5%;
      font-size: large;
      font-family: Arial, Helvetica, sans-serif;
      color: $button-color;

      &:hover {
        color: orange;
      }
    }
  }
}
