// variables
$primary-color: #f5f6fa;
$text--grey-color: #777;
$button-color: rgb(2, 127, 173);

section {
  background-image: url('../images/hands-medium.jpg');
  height: 85vh;
  width: 100%;
  padding-top: 35px;
  background-size: cover;
  background-position: bottom right;

  .login-form {
    background-color: white;
    padding: 25px;
    height: auto;
    max-width: 430px;
    margin: 0 auto;

    h2 {
      font-family: 'source-sans-pro', 'Helvetica Neue', 'Helvetica', Helvetica,
        Arial, sans-serif;
      font-weight: 50;
      margin-top: -10px;
      color: #bbb;
    }
    h3 {
      font-size: 13px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 100;
      color: #555;
      margin-top: 0;
      margin-bottom: 28px;
    }
    form {
      span {
        color: red;
        font-size: 15px;
      }
      input + label {
        color: $text--grey-color;
        font-size: 11px;
        font-family: Arial, Helvetica, sans-serif;
        padding-left: 7px;
      }
      input,
      label {
        margin-left: 0;
      }
      input {
        margin-bottom: 10px;
        border-width: 1px;
      }

      .danger {
        border-color: red;
      }
      .focus {
        box-shadow: 1px 1px rgb(187, 187, 187);
        background-color: #fae9ff;
      }

      .username input,
      .password input {
        display: block;
        width: 100%;
        height: 33px;
        margin-bottom: 0;
      }
      .password label {
        margin-top: 10px;
      }
      .username label,
      .password label {
        display: block;
        font-size: 11px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 100;
        color: $text--grey-color;
        margin-bottom: 5px;
      }
      .forgot-password {
        text-align: right;
        margin: 0;
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 12px;
        margin-top: 2px;
        color: rgb(2, 127, 173);

        &:hover {
          color: red;
        }
      }

      .username-warning,
      .password-warning {
        margin: 0;
        padding: 0;
        color: red;
        font-size: 12px;
        display: none;
      }

      hr {
        opacity: 0.5;
      }

      .rememberMe {
        margin-top: 1rem;
      }

      .visible {
        display: block;
      }

      .btn-block {
        padding: 13px;
        padding-left: 0;

        .btn {
          font-weight: 900;
          padding: 10px 15px;
          /* margin-top: 13px; */
          border-radius: 20px;
          border: none;
          outline: none;
          color: white;
          background-color: $button-color;
        }
      }
    }
  }
}
